html {
  background-color: #FAFAFA;
}
header {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-self: center;
  overflow: hidden;
  background-color: #e3e3e3;
  border-radius: 6px;

  a {
    color: #000;
  }
  a:hover {
    color: #ba9077;
  }
}

.top {
  flex: 1;
  position: relative;
  padding-top: 5px;
  background-color: #fff;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

//left-side column
.left_side {
  width: 60%;


  .name_box {
    position: relative;
    width: 150px;
    height: 40px;
    line-height: 40px;
    padding-left: 45px;
    border: 1px solid #000;


  span {
    width: 40px;
    position: absolute;
    height: 44px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid black;
  }
}


}

.middle {
  width: 140px;
  right: 140px;
  top: 0;
  font-size: .6rem;
  margin-top: 12px;
  position: absolute;
  display: inline-block;
  padding:10px;
  color:#000;
  background-color: #fff;
  border: 1px solid black;
  border-radius:5px;
  text-align: right;

}

.middle:after {
  content:"";
  position:absolute;

  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#000 transparent;
  display:block;
  width:0;
  top:8px; /* controls vertical position */
 right:-20px; /* value = - border-left-width - border-right-width */
   bottom:auto;
   left:auto;
   border-width:8px 0 8px 20px;
   border-color:transparent #3fb0ac;
}


//right-side column
.right_side {
  width: 40%;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;



  ul {
     width: 50%;
     list-style-type: none;
     position: relative;

    li {
        display: inline;
        padding-right: 5px;
        width: 60px;
        text-align: center;

      }



    }

  }

.navigate {
  margin-top: 15px;
  flex: 1;
  min-width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  nav {
    width: 100%;
    border-radius: 20px;

    ul {
      display: flex;
      flex-flow: row;
      justify-content:center;
      align-items:flex-end;
    }

    li {
      display: inline-block;
      text-align: left;
      padding: 20px 30px;
      position: relative;
      font-size: 1.6rem;
      background-color: #E86621;
      width: 30%;
      clip-path: polygon(0 100%, 90% 100%, 100% 50%, 90% 0, 0 0, 10% 50%);

      &:first-child {
        background-color: #6054E8;
      }
      &:nth-child(2n) {
        background-color: #FF009D;
      }


    }


  }
    a {
      display: block;
      text-decoration: none;
      color: #FFF;
      text-transform: lowercase;
      cursor: pointer;
    }

    }
